.container {
  background-color: var(--blue);
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1.5fr 1fr;

  color: var(--text-highlight);

  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-position: 2rem center;
  background-size: auto 90vh;
}

.container main {
  grid-column: 2;
  align-self: center;
}

.container main > img {
  margin-bottom: 6rem;
}
